{% for repository in jenkins_git_repositories %}
pipelineJob('{{ repository.name }}') {
  triggers {
    scm ''
  }
  definition {
    cpsScm {
      scm {
        git {
          remote {
            url('{{ repository.url }}')
          }
          branch( {{ repository.branch | default('master') }} )
        }
      }
      scriptPath('Jenkinsfile')
    }
  }
}

{% endfor %}
